@font-face {
    font-family: 'b-nazanin';
    src: url('../fonts/BNAZANB.eot') format('eot');
    src: url('../fonts/BNazanin.ttf') format('truetype');
    src: url('../fonts/BNazanin.woff') format('woff');
    src: url('../fonts/BNazanin.woff2') format('woff');
}

* {
    direction: rtl;
    box-sizing: border-box;
    font-family: 'b-nazanin';
    list-style-type: none;
    text-decoration: none;
    text-align: right;
    box-shadow: none !important;
    outline: none !important;
}

body {
    font-size: 18px;
}
card-freelancer-img
/* nav top start */
.nav-top {
    background-color: #2FDB40 !important;
}

.logo-job {
    color: #006113;
    font-family: 'Bernard MT';
}

.nav-top-contact svg {
    color: #3b3b3b;
}

/* end of nav top */

/* navbar start */
.navbar-brand {
    font-family: 'Bernard MT';

}

.navbar-brand span {
    color: #0CE128;
    font-family: 'Bernard MT';
}

.nav-link img {
    opacity: 60%;
}

.nav-item a:hover {
    color: #0ac92a !important;
}

.btn-register {
    background-color: #0CE128 !important;
}

.btn-login {
    border-color: #0CE128;
}

.btn-login:hover {
    border-color: #0CE128;
    background-color: #0CE128;
}

.nav-top .dropdown-menu {
    border-color: #0CE128;
}

.nav-top .dropdown-item {
    padding: 20px 40px;
    border-bottom: 1px dashed #eee;

}

.nav-top .dropdown-menu a:hover {
    background-color: #0CE128;
    color: white !important;
    transition: all .3s ease-in-out;
}

/* end of navbar */



/* header-main start */

/* .header-main { */
/* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('../images/header.jpg'); */

/* background-position: 100% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 800px !important;
    position: relative !important; */

/* } */

.header-main-title {
    margin-top: 250px;
}

.header-main-title h1 {
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
}

.header-main-title h3 {
    text-align: center;
    color: #bbbbbb;
    font-size: 2rem;
}

.header-main-form form {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    transition: all 0.1s ease-in-out;

}

.header-main-form form:hover {
    border: 2px solid #36DC1D !important;
}


.form-control {
    border: none !important;
    background: none;

}

.form-control:focus {
    box-shadow: none;
    background: none;

}

.btn-main a {
    background-color: #36DC1D !important;
    width: 100px !important;
    box-shadow: 0px 2px 4px #148802 !important;
}

.btn-main a:hover {
    background-color: #2eb619 !important;
}

/* end of header-main */



/* proficiency start */

.proficiency-title h2 {
    border-bottom: 2px dashed #6c757d;
    padding-bottom: 15px;
}

.card-proficiency {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
    border-radius: 25px;
    padding: 20px;
    height: 100%;
}

.card-body-proficiency img {
    height: 100% !important;
}

.card-proficiency a {
    color: #0AF901;
}

.btn-see a {
    background-color: #06BC19;
    width: 200px;
}

.card-proficiency a:hover {
    background-color: #02860f;
    border: 1px solid #02860f;
    border-radius: 5px;
    padding: 10px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.card-proficiency:hover {
    animation-name: pulse;
}

/* end of proficiency */


/* start today job */

.today-job-title h2 {
    border-bottom: 2px dashed #6c757d;
    padding-bottom: 15px;

}


.card {
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
}


.employer-desc img {
    border: 1px solid #eee;
    border-radius: 50%;
    padding: 5px;

}

.employer-summry span {

    border-radius: 25px;
    background-color: #F63030;
    color: white;
}

.employer-footer a {
    background-color: #06BC19;
    border-radius: 50px;
    color: white;
    padding: 5px 30px;
}

.employer-footer a:hover {
    color: white;
    background-color: #018d0f;
}

.card-title a:hover {
    color: rgb(0, 113, 243) !important;
    transition: all 0.3s ease-in-out;

}

.owl-carousel .owl-item img {
    width: 70px !important;
}

.owl-nav {
    display: none !important;
}

.owl-dots {
    margin-top: 15px;
}

/* end of today job */

/* start work-exmpale */

.card-work-exmpale .card {
    border: none;
    border-radius: 25px !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}

.card-img img {
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;

}

.btn-work-exmpale {
    border: 1px solid #06BC19 !important;
    color: rgb(65, 65, 65) !important;
}

.btn-work-exmpale:hover {
    color: white !important;
    background-color: #018d0f;
}

/* end of work-exmpale */

/* start work-data */

.work-data {
    background-color: #01DEC0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}

/* end of work-data */


/* footer start */
footer {
    margin-top: 100px;
    background-color: #018f0f !important;
    color: white;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    color: rgb(0, 255, 98);
}

footer ul li {
    padding: 10px 0;
    text-align: center !important;
}

footer .jobwolrd ul li:first-child a:hover {
    color: brown;
}

footer .jobwolrd ul li a:hover {
    color: rgb(2, 98, 153);
}

footer .job-seekers-title,
.Employers-title,
.about-jobworld-title,
.jobworld-title {
    border-bottom: 2px dashed #eee;
    padding: 10px 0;
    color: rgb(247, 247, 247);
}


/* end of footer */

/* start copy-right */

.copy-right {
    border-top: 1px solid #ecf0f1;
    background-color: #015f0b !important;
    color: #fff;
}

/* end of copy-right */

/* btn go up start */

.btn-go-up {
    position: fixed;
    bottom: 5%;
    right: 2%;
    background-color: #008f0e;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.btn-go-up:hover {
    background-color: #003e0d;
}

.btn-go-up.hide {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}


/* end of btn go up */


/* loader start */

.loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000;
    visibility: visible;
}

.loader.showloader {
    animation: fadiout 1s;
    -webkit-animation: fadiout 1s;
    animation-fill-mode: forwards;
}

@keyframes fadiout {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* end of loader */

/* start login-register */

.login .content {
    background: linear-gradient(#01DEC0, #00a18c);
    height: auto;
}

.content .form {
    border-radius: 25px;
}

.content form input {
    border: none;
    border-bottom: 1px solid #01DEC0;
    padding: 5px 0;
    outline: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.content form input[type='text']:focus,
.content form input[type='password']:focus {
    border-bottom: 1px solid #c91002;
}

.btn-login-form button {
    background-color: #01DEC0 !important;
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 25px;
    color: white;
}

.btn-login-form button:hover {
    background-color: #01ab95 !important;
}

.title-login span {
    color: #01DEC0;
    font-size: 50px;
}

.title-login h3 {
    color: #888888;
}

.user {
    position: absolute;
    top: -50px;
    right: 50%;
    background-color: #01DEC0 !important;
    padding: 30px 30px;
    border-radius: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.content a {
    color: #01DEC0;
}

.content a:hover {
    color: #01ab95;
}

.remember input[type='checkbox'] {
    border: 1px solid #000;
}



/* end of login-register */


/* searchJobs start */

.search-box {
    background: linear-gradient(90deg, #00c914, #034b0a);
    width: 100%;
    height: 200px;
    box-shadow: 1px 5px 5px #006113 !important;
}

.search-box-content {
    background: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;

}

.search-input {
    width: 100% !important;
}

.search-box-content select {
    direction: ltr;
    border: none;
    border-right: 1px solid #eee;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

}

.btn-search input {
    padding: 5px 50px;
    border: none;
    background: #e84118;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;

}

.btn-search input:hover {
    background: #ff3300;
}

/* end of searchJobs */

/* list jobs start */

.card-jobs {
    width: 100%;
    height: 100%;
    border-right: 3px solid #008f0e;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    /* overflow: hidden; */
}

.card-jobs .card-jobs-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    margin: 20px;

}

.card-jobs-desc {
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.card-jobs-img {
    display: flex;
    align-items: center;
}

.card-jobs-desc h1 {
    font-size: 30px;
    color: #354546;
}

.date-jobs {
    background-color: #E74C3C;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: white;
    margin: 10px;
    padding: 5px;
}

.btn-jobs {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    height: 100%;
}

.btn-sign {
    justify-self: flex-start;
}

.btn-jobs a {
    background-color: #22A7F0;
    text-decoration: none;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.btn-jobs a:hover {
    background-color: #1297E0;
    color: white;
}

.btn-jobs a:nth-child(1) {
    background: transparent;
    border: 1px solid #C72C1C;
    color: black;
}

.btn-jobs a:nth-child(1):hover {
    background-color: #C72C1C;
    color: white;
}

/* end of list jobs */


/* start pagination */
.page-item:last-child .page-link {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    color: #fff !important;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    color: #fff !important;
}

.page-link {
    background: #0EAC51 !important;
    border: none !important;
    color: #272727 !important;
}

/* end of pagination */




/* searchProject start */

.search-box {
    background: linear-gradient(90deg, #00c914, #034b0a);
    width: 100%;
    height: 200px;
    box-shadow: 1px 5px 5px #006113 !important;
}

.search-box-content {
    background: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;

}

.search-input {
    width: 100% !important;
}

.search-box-content select {
    direction: ltr;
    border: none;
    border-right: 1px solid #eee;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

}

.btn-search button {
    padding: 5px 50px;
    border: none;
    background: #e84118;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;

}

.btn-search button:hover {
    background: #ff3300;
}

/* end of searchProject */


/* list projects start */

.card-projects {
    width: 100%;
    height: 100%;
    border-right: 3px solid #008f0e;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    /* overflow: hidden; */
}

.card-projects .card-projects-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    margin: 20px;

}

.card-projects-desc {
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.card-projects-img {
    display: flex;
    align-items: center;
}

.card-projects-desc h1 {
    font-size: 30px;
    color: #354546;
}

.date-projects {
    background-color: #E74C3C;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: white;
    margin: 10px;
    padding: 5px;
}

.btn-projects {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    height: 100%;
}

.btn-sign {
    justify-self: flex-start;
}

.btn-projects a {
    /* background-color: #22A7F0; */
    background-color: #C72C1C !important;
    text-decoration: none;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.btn-projects a:hover {
    background-color: #1297E0;
    color: white;
}

/* .btn-projects a {
    background-color: #C72C1C !important;
    border: 1px solid #C72C1C !important;
    color: black;
} */

/* .btn-projects a:nth-child(1):hover {
    background-color: #C72C1C !important;
    color: white;
} */

.card-projects-desc .date-exp {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.instant {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* end of list projects */




/* start user panel */
.user-panel-sidebar {
    background: linear-gradient(#016F60, #00BAA0);
    padding: 20px;
}

.user-panel-sidebar .logo h3 {
    color: #01B49C;
    font-size: 2.5rem;
}

.user-panel-sidebar .logo span {
    font-size: 1.5rem;
    color: #959898;
}

.user-status {
    border-top: 2px solid #016F60;
    border-bottom: 2px solid #016F60;
    padding: 15px 2px;
}

.user-status span:nth-child(2) {
    color: #00FEDB !important;
}

.menu ul .nav-item.active {
    background-color: #009480;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.menu ul .nav-item:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.menu ul li {
    padding: 8px 0;
}

.menu ul li a:hover {
    color: #00FEDB !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


.btn-exit a {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #A70C00;
    padding: 12px 30px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

}

.btn-exit a:hover {
    color: #A70C00 !important;
    background-color: white;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* start sidebar mobile */
.offcanvas-header {
    background-color: #006f60 !important;
}

/* end of sidebar mobile */

/* navbar start  */
.nav-main {
    height: 100px !important;
    background-color: #00a18c;
    /* z-index: -1; */
}

.men-user {
    cursor: pointer;
}

.men-user img {
    width: 50px;
}

.men-user .list-info-show:hover {
    color: #006154 !important;
}

.title-nav {
    margin-right: 20%;
}

.list-info {
    background-color: #01796b;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /*bottom: -100%;
    */
    top: 145%;
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.list-info.show {
    opacity: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.list-info div {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #01796b;
    right: 35%;
    transform: rotate(50deg) !important;
    -webkit-transform: rotate(50deg) !important;
    -moz-transform: rotate(50deg) !important;
    -ms-transform: rotate(50deg) !important;
    -o-transform: rotate(50deg) !important;
}

.list-info ul li a {
    color: white;
}

.list-info ul li a:hover {
    color: #04d1b9 !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transform: translateY(-5px) translateX(-2px);
    -webkit-transform: translateY(-5px) translateX(-2px);
    -moz-transform: translateY(-5px) translateX(-2px);
    -ms-transform: translateY(-5px) translateX(-2px);
    -o-transform: translateY(-5px) translateX(-2px);
}




/* end of navbar */

/* start card panel info*/
.card-panel {
    background: white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.card-panel .card-body .card-panel-desc .card-panel-title span:nth-child(1) {
    color: #009480;
}

.card-panel-footer-desct {
    background-color: #00a18c;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 15px 10px;

}

.card-panel-footer-desct:hover {
    background: linear-gradient(120deg, #00a18c, #016a5c);
}

.card-panel-footer-desct a:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

/* end of card panel info */

/* start modal message exit */
.modal-content {
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    border: 3px solid #00a18c;

}

/* end of modal message exit */


/*  start last message and Latest offers */
.last-message {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.last-message .last-message-header span {
    color: #00a18c;
}

.last-message .last-message-main {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

}

.last-message .last-message-desc img {
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.last-message-show-message a {
    text-decoration: none;
    color: white;
    background-color: #009480;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.last-message-show-message a:hover {

    background-color: #017b6a;
}

.Latest-offers {
    background-color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

}

.Latest-offers-header span {
    color: #00a18c;
}


/*  end of last message and Latest offers */

/* start employment and offer */
.employment {
    background: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
}

.employment-header span {
    color: #00a18c;
}

.employment-main {
    background-color: whitesmoke;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

}

.employment-main .employment-desc .employment-aother img {
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.last-few-days {
    background-color: #c91002;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.offers {
    background-color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px;
}

.offer-date span {
    color: #0ba590;
}

.Number-offers {
    background-color: #00BAA0;
    border-radius: 20px;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px;
    height: 200px !important;
}

.Increase-offer {
    background-color: #00BAA0;
    border-radius: 20px;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px;
    height: 200px !important;
}

.Increase-offer a {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px 25px;
    background-color: #008775;
}

.Increase-offer a:hover {

    background-color: #005348;
}

/* end of employment and offer */


/* start footer */
.footer-user-panel {
    background-color: #00a18c !important;
}

.footer-user-pane .nav-item a:hover {
    color: #00FEDB !important;
}

/* end of footer */

/* end of user panel */



/* start job details page */

/* start job details header */
.job-details-header {

    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 35px;
}

.job-details-header .job-details-header-title img {
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.job-details-header .job-details-header-title-btn .bookmarks-btn {
    background-color: #c91002;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
}

.job-details-header .job-details-header-title-btn .bookmarks-btn:hover {

    background-color: #a50b00;
}

.job-details-header .job-details-header-title-btn .sendCV-btn {
    background-color: #00c914;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
}

.job-details-header .job-details-header-title-btn .sendCV-btn:hover {
    background-color: #01a011;
}

/* end of job details header */



/* start job details info */

.job-details-info {
    border-bottom: 2px dashed #00BAA0;
    padding: 100px 0;

}

.job-details-info .ifno .software {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
    text-align: center;
}

.job-details-info .ifno .info-year {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
    text-align: center;
}

.job-details-info .info-location {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
    text-align: center;

}

.job-details-info .info-salary {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
    text-align: center;

}

.job-details-info .type-cooperation {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
    text-align: center;

}

/* end of job details info */
/* start job details  about company */

.job-details-about-company {
    border-bottom: 2px dashed #00BAA0;
    padding: 100px 0;
    background-color: whitesmoke;

}

.job-details-about-company .ifno .Organization-size {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
    text-align: center;
}

.job-details-about-company .ifno .info-year {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
    text-align: center;
}

.job-details-about-company .industry {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
    text-align: center;

}

.job-details-about-company .ownership {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
    text-align: center;

}

.job-details-about-company .type-Activity {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 200px;
    text-align: center;

}

/* end of job details  about company */

/* start job description */
.job-description {
    border-bottom: 2px dashed #00BAA0;
    padding: 100px 0;
}

.skills ul li {
    list-style-type: disc !important;
    font-size: 20px;
}

.skills ul li span {

    color: #00BAA0;
}

/* end of job description */





/* start Required-skills */

.Required-skills .software {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;

}

.Required-skills .Military-service {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    width: 200px;
}

.Required-skills .gender {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    width: 200px;
}

.Required-skills .education {
    background-color: #00BAA0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    width: 200px;
}

/* end of Required-skills */
/* end of job details page */


/* ========================================start-panel-admin======================================== */
.Access-level {
    border-bottom: 1px solid #A70C00;
}

.Access-level span {
    color: #fff;
    font-weight: 500;
}

.user-info {
    background-color: #214162;
}

.user-info p {
    color: #1ed085;
    font-weight: 500;
    font-size: 19px;

}

.user-info h6 {
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.online-animation {
    width: 10px;
    height: 10px;
    background: #1ed085;
    border-radius: 100% !important;
    margin-top: 0;
    position: relative;
    top: 1px;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -ms-border-radius: 100% !important;
    -o-border-radius: 100% !important;
    animation: flash 2s infinite;
    -webkit-animation: flash 2s infinite;
}

.menu-panel-admin a {
    color: #fff;
}

.menu-panel-admin .sub-menu li {

    padding: 10px;

}

.menu-panel-admin .sub-menu li a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    color: #fff;
}

.menu-panel-admin .sub-menu li a svg {
    font-size: 12px;
}

.menu-panel-admin .sub-menu li a:hover {
    transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    background: none;
    color: #0dcaf0;
}

.menu-panel-admin li a:hover {
    color: #0dcaf0;

}

.nav-links li .sub-menu {

    background: #012852;
    display: none;
}

.nav-links li.showMenu .sub-menu {
    display: block;

}

li.showMenu .fa-angle-down {
    transition: all 0.3s;
    transform: rotate(180deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;

}

.offcanvas-panel-admin {
    background-color: #15283c;
}

.offcanvas-header-panel-admin {

    background-color: #15283c !important;
}

.nav-panel-admin nav {
    background-color: #15283c;
}

.nav-panel-admin nav .nav-title span {
    font-size: 35px;
    color: #008f0e;
}

.user-info-nav {
    background-color: #008f0e;
}

.user-info-nav .dropdown-menu {
    transform: translate(0px, 83px) !important;
    -webkit-transform: translate(0px, 83px) !important;
    -moz-transform: translate(0px, 83px) !important;
    -ms-transform: translate(0px, 83px) !important;
    -o-transform: translate(0px, 83px) !important;
    z-index: 1000;
}

.user-info-nav .dropdown-menu .dropdown-item:hover {
    background-color: #008f0e;
    color: white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.card-panle-admin .card-1-info {
    background-color: #ff9800 !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-panle-admin .card-2-info {
    background-color: #2196f3 !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-panle-admin .card-3-info {
    background-color: #009688 !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-panle-admin .card-4-info {
    background-color: #e91e63 !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.footer-panel-admin {
    background-color: #15283c !important;
}



/* ========================================end-of-panel-admin======================================== */



/* ========================================start-view-project======================================== */

.share-project .twitter {
    background-color: #a6e3f3;
    display: inline;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.share-project .twitter a {
    color: #04a8d1;
}

.share-project .twitter:hover {
    padding-top: 2rem !important;
    padding-left: .65rem !important;
    padding-right: .65rem !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.share-project .facebook {
    background-color: #4d8deb;
    display: inline;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.share-project .facebook a {
    color: #0f69f1;
}

.share-project .facebook a:hover {
    color: white !important;
}

.share-project .facebook:hover {
    padding-top: 2rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.share-project .whatsapp {
    background-color: #1bd741;
    display: inline;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;

}

.share-project .whatsapp a {
    color: #03891e !important;

}

.share-project .whatsapp a:hover {
    color: white !important;
}

.share-project .whatsapp:hover {
    padding-top: 2rem !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.share-project .telegram {
    background-color: #0d6efd;
    display: inline;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.share-project .telegram a {
    color: #003788;
}

.share-project .telegram a:hover {
    color: white !important;
}

.share-project .telegram:hover {
    padding-top: 2rem !important;
    padding-left: 0.65rem !important;
    padding-right: 0.65rem !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/* ========================================end-of-view-project ======================================== */


/* ========================================start-modal-register-offer ======================================== */

.modal-register-offer .modal-footer button {
    background-color: #2fdb40;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.modal-register-offer .modal-footer button:hover {

    background-color: #009a0f;
}

.modal-register-offer .modal-body .Amount-offer {
    background-color: white;
    border: 1px solid #ecf0f1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.modal-register-offer .modal-body .Amount-offer:hover {
    border: 1px solid #009a0f !important;

}

.offer-desc {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #ecf0f1;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.offer-desc:hover {
    border: 1px solid #009a0f !important;
}

.offer-desc textarea {
    resize: none;
}

.file {
    border: 1px dashed #a2a3a3;
}

.file input[type="file"] {
    display: none;
}

.file label {
    display: block;
    background-color: #008f0e;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.file label:hover {
    background-color: #03730e;
}

/* ========================================end-of-modal-register-offer ======================================== */


/* ========================================start-view-profile ======================================== */

.section-profile-freelancer .profile-freelancer .btn-Invited-to-cooperate a:last-child {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
    background-color: #04aa25;
    color: white;
}

/* 
.section-profile-freelancer .profile-freelancer .btn-Invited-to-cooperate a:first-child {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
    border: 1px solid #04aa25;
    color: #01a011;
    padding: 14px 50px !important;
} */

.section-profile-freelancer .profile-freelancer .btn-Invited-to-cooperate a:hover {
    background-color: transparent;
    border: 1px solid #04aa25;
    color: #04aa25;
}

.card-freelancer {
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
}

.worksamples .card {
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
}

.worksamples .card img {
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
}

/* ========================================end-of--view-profile ======================================== */


.form-check-input[type=radio] {
    border-radius: 50% !important;
    border: 2px solid #006f60 !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}

.form-check-input:checked {
    background-color: #008775 !important;
    border-color: #008775;
}

.chat-messages {
    height: 300px;
    overflow-y: auto;
}

.message {
    padding: 10px;
    border-radius: 5px;
}

.message.received {
    background-color: #f1f1f1;
}

.message.sent {
    background-color: #007bff;
    color: white;
}
